* {
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Roboto;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 200px;
    height: 100px;
    align-items: center;
}

.section-one {
    display: flex;
    background-color: #0D0D0D;
    color: #E0E0E0;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
    font-size: 18px;
}

.main-cover {
    height: auto;
    width: 450px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.introduction {
    display: flex;
    padding: 0 200px;
    margin-top: 50px;
    gap: 50px;
    margin-bottom: 80px;
}

.introduction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction-wrapper > div {
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.introduction-heading {
    font-size: 48px;
    font-weight: 900;
}

.explore-button {
    font-family: Roboto;
    font-size: 18px;
    background-color: rgb(255, 81, 0);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 14px;
    width: 150px;
}

.introduction-description,
.navigation {
    color: #B0B0B0;
}

.section-two {
    display: flex;
    flex-direction: column;
}

.information-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 300px;
    justify-content: space-between;
    padding-bottom: 80px;
}

.bullet-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.info-heading {
    font-size: 36px;
    font-weight: 900;
    color: #0D0D0D;
    width: 100%;
    padding: 30px 400px;
    justify-content: center;
    text-align: center;
}

.bullet-card > img {
    border: solid 4px rgb(255, 81, 0);
    border-radius: 18px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    object-position: top;
}

.bullet-card > p {
    text-align: center;
    color: #1f2937;
}

.quote-container {
    display: flex;
    width: 100%;
    flex-flow: column;
    padding: 80px 320px;
    background-color: #E5E7EB;
    color: #1f2937;
    gap:  5px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-signature {
    text-align: end;
    font-weight: 700;
    font-size: 24px;
}

.second-section{
   display: flex;
   width: 100%;
   padding: 100px 200px;
   justify-content: center;
}

.action-section {
    display: flex;
    background-color: rgb(255, 81, 0);
    padding: 50px 120px;
    width: 100%;
    border-radius: 8px;
    justify-content: space-between;
    color: white;
}

.text1 {
    font-weight: 700;
    font-size: 24px;
}

.text2 {
    color:#E5E7EB;
}

.call-to-action {
    font-family: Roboto;
    font-size: 18px;
    background-color: rgb(255, 81, 0);
    border: 2px solid;
    border-color: white;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
    width: 150px;
    font-weight: 700;
}

.copyright {
    display: flex;
    background-color: #0D0D0D;
    color: #B0B0B0;
    padding: 50px;
    justify-content: center;
}